.animation-element-section2 {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.animation-element-section2.animate {
    opacity: 1;
    transform: translateY(0);
}

.animation-element {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animation-element.animate {
    opacity: 1;
    transform: translateY(0);
}

.animation-element-down {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animation-element-down.animate-down {
    opacity: 1;
    transform: translateY(0);
}