.animation-element {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2s ease, transform 2s ease;
}

.animation-element.animate {
    opacity: 3;
    transform: translateY(0);
}