body {
    margin: 0;
    overflow: hidden;
}

.background {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #292929;
}

.particle {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.particle1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: particle1Animation;
}

.particle2 {
    top: 20%;
    left: 30%;
    animation-name: particle2Animation;
}

.particle3 {
    top: 80%;
    left: 70%;
    animation-name: particle3Animation;
}

@keyframes particle1Animation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes particle2Animation {
    0% {
        transform: translateX(0) rotate(0);
    }
    100% {
        transform: translateX(200px) rotate(360deg);
    }
}

@keyframes particle3Animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}